<!--The content below is only a placeholder and can be replaced.-->
<head>
  <!--Student code start here-->
  <meta
    http-equiv="Content-Security-Policy"
    content="default-src 'self'
            script-src 'self';
            style-src 'self';
            img-src 'self';
            font-src 'self';
            object-src 'self';
            connect-src 'self';
            media-src 'self';
            child-src 'self';
            form-action 'self';
            sandbox allow-scripts;">
  <!--Student code end here-->
</head>


<body>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>

    <button style="text-align:center; background-color: green; color: white"
      class="btn btn-primary btn-mar" (click)="login()">
      <!--*ngIf="!auth.isAuthenticated()"-->

      Log In
    </button>

    <button style="text-align:center; background-color: red; color: white"
      class="btn btn-primary btn-margin" (click)="logout()">
      <!--*ngIf="auth.isAuthenticated()"-->
      <!--(click)="logout()">-->
      Log Out
    </button>

    <br/>
    <br/>


    <img width="300" alt="Coffee!"src="../assets/3adc65731ecb88fd9e163f1e48082750.jpg"/>
  </div>

  <br/>
  <br/>

<!--student code start here-->
  <iframe *ngIf="isAuthenticated()" width="560" height="315" src="https://www.youtube.com/embed/93hq0YU3Gqk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--student code end here-->


  <router-outlet></router-outlet>


</body>
